<head th:fragment="header">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title></title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="shortcut icon" href="favicon.ico"/>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/video.css}" rel="stylesheet"/>
	<link th:href="@{/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/plugins/bootstrap-select/bootstrap-select.css}" rel="stylesheet"/>
	<link th:href="@{/css/plugins/bootstrap-editable/bootstrap-editable.css}" rel="stylesheet"/>
	<link th:href="@{/css/plugins/bootstrap-fileinput/fileinput.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/plugins/jsTree/style.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/plugins/jqTreeGrid/jquery.treegrid.css}" rel="stylesheet"/>

	<link th:href="@{/css/plugins/summernote/summernote-bs3.css}" rel="stylesheet"/>
	<link th:href="@{/css/animate.css}" rel="stylesheet"/>
	<link th:href="@{/css/plugins/chosen/chosen.css}" rel="stylesheet"/>
	<link th:href="@{/css/style.css}" rel="stylesheet"/>
	<!--datetimepicker 日期插件-->
	<link th:href="@{/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">
	<link th:href="@{/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen">
</head>
<div th:fragment="footer">
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.json.js}"></script>
	<script th:src="@{/js/video.js}"></script>
	<script th:src="@{/js/videojs-contrib-hls.js}"></script>
	<script th:src="@{/js/plugins/jquery.serializejson.min.js}"></script>
	<script th:src="@{/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
	<script th:src="@{/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
	<script th:src="@{/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
	<script th:src="@{/js/plugins/bootstrap-select/bootstrap-select.js}"></script>
	<script th:src="@{/js/plugins/bootstrap-editable/bootstrap-editable.min.js}"></script>
	<script th:src="@{/js/plugins/bootstrap-editable/bootstrap-table-editable.js}"></script>
	<script th:src="@{/js/plugins/bootstrap-fileinput/fileinput.min.js}"></script>
	<script th:src="@{/js/plugins/bootstrap-fileinput/local/zh.js}"></script>
	<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
	<script th:src="@{/js/plugins/jsTree/jstree.min.js}"></script>
	<script th:src="@{/js/plugins/jqTreeGrid/jquery.treegrid.min.js}"></script>
	<script th:src="@{/js/plugins/jqTreeGrid/jquery.treegrid.extension.js}"></script>
	<script th:src="@{/js/plugins/jqTreeGrid/jquery.treegrid.bootstrap3.js}"></script>
	<script th:src="@{/js/plugins/chosen/chosen.jquery.js}"></script>
	<script th:src="@{/js/plugins/layer/layer.js}"></script>
	<script th:src="@{/js/content.js}"></script>
	<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
	<script th:src="@{/js/plugins/cropper/cropper.min.js}"></script>
	<script th:src="@{/js/plugins/layer/laydate/laydate.js}" ></script>
	
		<!-- Mainly scripts -->
	<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

	<!-- Flot -->
	<script th:src="@{/js/plugins/flot/jquery.flot.js}"></script>
	<script th:src="@{/js/plugins/flot/jquery.flot.tooltip.min.js}"></script>
	<script th:src="@{/js/plugins/flot/jquery.flot.spline.js}"></script>
	<script th:src="@{/js/plugins/flot/jquery.flot.resize.js}"></script>
	<script th:src="@{/js/plugins/flot/jquery.flot.pie.js}"></script>
	<script th:src="@{/js/plugins/flot/jquery.flot.symbol.js}"></script>
	<script th:src="@{/js/plugins/flot/jquery.flot.time.js}"></script>


	<!-- jQuery UI -->
	<script th:src="@{/js/plugins/jquery-ui/jquery-ui.min.js}"></script>
	<!--datetimepicker 日期插件-->
	<script th:src="@{/js/plugins/datetimepicker/bootstrap-datetimepicker.js}"></script>
	<script th:src="@{/js/plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js}"></script>
	<!--分页插件-->
	<script th:src="@{/js/bootstrap-paginator.min.js}"></script>
	<!--表导出插件-->
	<script th:src="@{/js/plugins/table-export/libs/FileSaver/FileSaver.min.js}"></script>
	<script th:src="@{/js/plugins/table-export/libs/js-xlsx/xlsx.core.min.js}"></script>
	<script th:src="@{/js/plugins/table-export/tableExport.js}"></script>
</div>
