<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cibnvideo.jdsynctask.dao.CountyDao">

	<select id="get" resultType="com.cibnvideo.jdsynctask.model.County">
		select `countyid` as `countyId`,`cityid` as `cityId`,`provinceid` as `provinceId`,`name` as `name` from t_jd_address_countys where countyid = #{countyId}
	</select>

	<select id="list" resultType="com.cibnvideo.jdsynctask.model.County">
		select `countyid` as `countyId`,`cityid` as `cityId`,`provinceid` as `provinceId`,`name` as `name`  from t_jd_address_countys
        <where>  
        		<if test="countyId != null and countyId != ''"> and countyid = #{countyId} </if>
        		 <if test="cityId != null and cityId != ''"> and cityid = #{cityId} </if>
		  		  <if test="provinceId != null and provinceId != ''"> and provinceid = #{provinceId} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by countyId asc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit ${offset}, ${limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_jd_address_countys
		 <where>  
		         <if test="countyId != null and countyId != ''"> and countyid = #{countyId} </if>
		          <if test="cityId != null and cityId != ''"> and cityid = #{cityId} </if>
		  		  <if test="provinceId != null and provinceId != ''"> and provinceid = #{provinceId} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cibnvideo.jdsynctask.model.County">
		insert into t_jd_address_countys
		(
			`countyid`,
			`cityid`,
			`provinceid`,
			`name`
		)
		values
		(
		    #{countyId},
		    #{cityId}, 
			#{provinceId}, 
			#{name}
		)
	</insert>
	 
	<update id="update" parameterType="com.cibnvideo.jdsynctask.model.County">
		update t_jd_address_countys 
		<set>
		    <if test="countyId != null">`countyid` = #{countyId}, </if>
		    <if test="cityId != null">`cityid` = #{cityId}, </if>
			<if test="provinceId != null">`provinceid` = #{provinceId}, </if>
			<if test="name != null">`name` = #{name}, </if>
		</set>
		where countyId = #{countyId}
	</update>
	
	<delete id="remove">
		delete from t_jd_address_countys where countyid = #{countyId}
	</delete>

	<delete id="removeByCityId">
		delete from t_jd_address_countys where cityid = #{cityId}
	</delete>

	<delete id="removeByProvinceId">
		delete from t_jd_address_countys where provinceid = #{provinceId}
	</delete>
	
	<delete id="batchRemove">
		delete from t_jd_address_countys where cityId in 
		<foreach item="countyId" collection="countyIds" open="(" separator="," close=")">
			#{countyId}
		</foreach>
	</delete>

</mapper>