<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cibnvideo.jdsynctask.dao.JdPictureOfMobileDao">

	<select id="get" resultType="com.cibnvideo.jdsynctask.model.PictureOfMobileResponse">
		select `sku`,`result`,`code` from t_jd_product_picture_mobile where sku = #{sku}
	</select>

	<select id="list" resultType="com.cibnvideo.jdsynctask.model.PictureOfMobileResponse">
		select `sku`,`result`,`code`  from t_jd_product_picture_mobile
        <where>  
		  		  <if test="sku != null and sku != ''"> and sku = #{sku} </if>
		  		  <if test="result != null and result != ''"> and result = #{result} </if>
		  		  <if test="code != null and code != ''"> and code = #{code} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by sku desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit ${offset}, ${limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_jd_product_picture_mobile
		 <where>  
		  		  <if test="sku != null and sku != ''"> and sku = #{sku} </if>
		  		  <if test="result != null and result != ''"> and result = #{result} </if>
		  		  <if test="code != null and code != ''"> and code = #{code} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cibnvideo.jdsynctask.model.PictureOfMobileResponse">
		insert into t_jd_product_picture_mobile
		(
			`sku`, 
			`result`, 
			`code`
		)
		values
		(
			#{sku}, 
			#{result}, 
			#{code}
		)
	</insert>
	 
	<update id="update" parameterType="com.cibnvideo.jdsynctask.model.PictureOfMobileResponse">
		update t_jd_product_picture_mobile 
		<set>
			<if test="sku != null">`sku` = #{sku}, </if>
			<if test="result != null">`result` = #{result}, </if>
			<if test="code != null">`code` = #{code}, </if>
		</set>
		where sku = #{sku}
	</update>
	
	<delete id="remove">
		delete from t_jd_product_picture_mobile where sku = #{sku}
	</delete>
	
	<delete id="batchRemove">
		delete from t_jd_product_picture_mobile where sku in 
		<foreach item="sku" collection="skus" open="(" separator="," close=")">
			#{sku}
		</foreach>
	</delete>

</mapper>