<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cibnvideo.jdsynctask.dao.JdStyleOfPcDao">

	<select id="get" resultType="com.cibnvideo.jdsynctask.model.StyleOfPcResult">
		select `sku`,`jsContent`,`cssContent`, `htmlContent` from t_jd_product_style_pc where sku = #{sku}
	</select>

	<select id="list" resultType="com.cibnvideo.jdsynctask.model.StyleOfPcResult">
		select `sku`,`jsContent`,`cssContent`, `htmlContent` from t_jd_product_style_pc
        <where>  
		  		  <if test="sku != null and sku != ''"> and sku = #{sku} </if>
		  		  <if test="jsContent != null and jsContent != ''"> and jsContent = #{jsContent} </if>
		  		  <if test="cssContent != null and cssContent != ''"> and cssContent = #{cssContent} </if>
		  		  <if test="htmlContent != null and htmlContent != ''"> and htmlContent = #{htmlContent} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by sku desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit ${offset}, ${limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_jd_product_style_pc
		 <where>  
		  		  <if test="sku != null and sku != ''"> and sku = #{sku} </if>
		  		  <if test="jsContent != null and jsContent != ''"> and jsContent = #{jsContent} </if>
		  		  <if test="cssContent != null and cssContent != ''"> and cssContent = #{cssContent} </if>
		  		   <if test="htmlContent != null and htmlContent != ''"> and htmlContent = #{htmlContent} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.cibnvideo.jdsynctask.model.StyleOfPcResult">
		insert into t_jd_product_style_pc
		(
			`sku`, 
			`jsContent`, 
			`cssContent`,
			`htmlContent`
		)
		values
		(
			#{sku}, 
			#{jsContent}, 
			#{cssContent},
			#{htmlContent}
		)
	</insert>
	 
	<update id="update" parameterType="com.cibnvideo.jdsynctask.model.StyleOfPcResult">
		update t_jd_product_style_pc 
		<set>
			<if test="sku != null">`sku` = #{sku}, </if>
			<if test="jsContent != null">`jsContent` = #{jsContent}, </if>
			<if test="cssContent != null">`cssContent` = #{cssContent}, </if>
			<if test="htmlContent != null">`htmlContent` = #{htmlContent}, </if>
		</set>
		where sku = #{sku}
	</update>
	
	<delete id="remove">
		delete from t_jd_product_style_pc where sku = #{sku}
	</delete>
	
	<delete id="batchRemove">
		delete from t_jd_product_style_pc where sku in 
		<foreach item="sku" collection="skus" open="(" separator="," close=")">
			#{sku}
		</foreach>
	</delete>

</mapper>