<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include :: header">
<meta charset="utf-8" />
</head>
<body>
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content" style="display: block;">
						<div class="row">
							<div class="col-sm-12 m-b-xs">

								<form class="form-inline">
									<div class="form-group">
										<label for="invoiceId" class="arealabel">&ensp&ensp发票ID:</label>
										<input id="invoiceId" name="invoiceId" placeholder="发票ID" class="form-control" type="text"  />
										<label for="productId" class="arealabel">&ensp&ensp商品ID:</label>
										<input id="productId" name="productId" placeholder="商品ID" class="form-control" type="text"  />
										<label for="orderNo" class="arealabel">&ensp&ensp订单号:</label>
										<input id="orderNo" name="orderNo" placeholder="订单号" class="form-control" type="text"  />
										<label for="invoiceHead" class="arealabel">&ensp&ensp发票抬头:</label>
										<input id="invoiceHead" name="invoiceHead" placeholder="发票抬头" class="form-control" type="text"  />
										<button type="button" class="btn btn-primary" onclick="searcher()">
											<i class="fa fa-search"></i><strong>搜索</strong>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div id="toolbar" role="group">
							<button class="btn btn-primary" type="button" onclick="cancelInvoice()">
								<i class="fa fa-remove"></i><strong>撤销发票</strong>
							</button>
						</div>
						<table id="invoicetb" class="col-xs-12" data-toolbar="#toolbar"
							   data-show-export="true" data-show-refresh="true"
							   data-show-toggle="true" data-show-columns="true">
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="picturePreview" tabindex="-1" role="dialog" aria-labelledby="picturePreview" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script th:src="@{/js/appjs/operationmanager/invoice.js}"></script>
	<script th:inline="javascript">
		$(".selectpicker").selectpicker({
			noneResultsText : '未匹配',
			noneSelectedText : '请选择'
		});
		$("#message").addClass("active");
		$("#faultlog").addClass("active");
	</script>
</body>
</html>
