<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:include="include :: header">
<meta charset="utf-8" />
</head>
<body>
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content" style="display: block;">
						<div class="row">
							<div class="col-sm-12 m-b-xs">
								<form class="form-inline">
									<div class="form-group">
										<input id="collectionId" name="collectionId" class="form-control" type="text" th:value="${collectionId}" style="display: none"/>
										<label for="cat0_search" class="arealabel">选择分类:</label>
										<select id="cat0_search" name="cat0_search" placeholder="请选择" class="selectpicker" data-live-search="true">
											<option value="">请选择</option>
											<option th:each="cat:${cat0list}" th:value="${cat.catId}" th:text="${cat.name}"></option>
										</select>
										<select id="cat1_search" name="cat1_search" class="selectpicker" data-live-search="true">
										</select>
										<select id="cat2_search" name="cat2_search" class="selectpicker" data-live-search="true">
										</select>
										<label for="brandName_search" class="arealabel">&ensp选择品牌:</label>
										<select id="brandName_search" name="brandName_search" placeholder="请选择" class="selectpicker" data-live-search="true" data-width="fit">
											<option value="" selected="selected">全部</option>
										</select>
									</div>
								</form>
							</div>
							<div class="col-sm-10 m-b-xs">
								<form class="form-inline" onsubmit="return false">
									<div class="form-group">
										<select id="search_type" name="search_type" class="selectpicker" data-width="fit">
											<option value="0" selected="selected">商品ID</option>
											<option value="1">商品名称</option>
										</select>
										<input id="search_content" name="search_content" placeholder="请输入搜索内容" class="form-control" type="text"/>
										<button class="btn btn-primary" onclick="searcher()">
											<i class="fa fa-search"></i><strong>搜索</strong>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div id="toolbar" class="btn-group">
							<button id="btn_add" type="button" class="btn btn-primary" onclick="addProduct();">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>批量添加
							</button>
						</div>
						<table id="producttb" class="col-xs-12" data-toolbar="#toolbar"
							   data-show-export="true" data-show-refresh="true"
							   data-show-toggle="true" data-show-columns="true">
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:include="include::footer"></div>
	<script th:src="@{/js/appjs/productcollectionmanager/products.js}"></script>
	<script th:inline="javascript">
		$(".selectpicker").selectpicker({
			noneResultsText : '未匹配',
			noneSelectedText : '请选择'
		});
	</script>
</body>
</html>
