<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:include="include :: header">
	<meta charset="utf-8" />
</head>
<body>
<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<input id="collectionId" name="collectionId" type="text" class="form-control" th:value="${collectionId}" style="display: none"/>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="searcher()">查询</button>
						</div>

						<div class="columns pull-right col-md-2">
							<input id="searchContent" type="text" class="form-control"
								   placeholder="搜索内容" />
						</div>
						<div class="columns pull-right">
							<select id="searchType" name="searchType" class="selectpicker" data-width="fit">
								<option value="0">商品ID</option>
								<option value="1" selected="selected">商品名称</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div id="toolbar" class="btn-group">
						<button id="btn_add" type="button" class="btn btn-primary" shiro:haspermission="mall:productcollection:edit" onclick="removeBatch();">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>批量删除
						</button>
					</div>
					<table id="producttb" class="col-xs-12" data-toolbar="#toolbar"
						   data-show-export="true" data-show-refresh="true"
						   data-show-toggle="true" data-show-columns="true">
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div th:include="include::footer"></div>
<script th:src="@{/js/appjs/productcollectionmanager/productsofcollection.js}"></script>
</body>
</html>
