<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8"/>
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm" onsubmit="return false">
							<input id="userId" name="userId" type="hidden"/>
							<div class="form-group">
								<label class="col-sm-3 control-label">模板名称：</label>
								<div class="col-sm-8">
									<input id="name" name="name" class="form-control" type="text"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">模板Code：</label>
								<div class="col-sm-8">
									<input id="code" name="code" class="form-control"
										type="text"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">布局：</label>
								<div class="col-sm-8">
									<input id="widthLayout" name="widthLayout" style="display: inline-block" type="text"/>*
									<input id="heightLayout" name="heightLayout" style="display: inline-block" type="text"/>
									<button type="button" style="display: inline-block" onClick="autocreate();">预览</button>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-push-3">
									<div id="div_tablecontains"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-push-3">
                                    <input style="display: none" name="recNum" id="recNum" type="text">
                                    <input style="display: none" name="layout" id="layout" type="text">
									<button id="btnMerge" name="btnMerge">合并单元格</button>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">确定</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
    <style>
        /* <![CDATA[ */
        #t { cursor:pointer;border-spacing: 1px;border-collapse: separate;}
        #t td.ui-selecting { background: #FECA40; }
        #t td.ui-selected  { background: #F39814; color: white; }
        /* ]]> */
    </style>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/templatemanager/add.js">
	</script>
</body>
</html>
