<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cibnvideo.jdsync.dao.ProvinceDao">

	<select id="get" resultType="com.cibnvideo.jdsync.bean.Province">
		select `provinceid` as `provinceId`,`name` as `name` from t_jd_address_provinces where provinceId = #{provinceId}
	</select>

	<select id="list" resultType="com.cibnvideo.jdsync.bean.Province">
		select `provinceid` as `provinceId`,`name` as `name` from t_jd_address_provinces
        <where>  
		  		  <if test="provinceId != null and provinceId != ''"> and provinceid = #{provinceId} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by provinceid asc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit ${offset}, ${limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_jd_address_provinces
		 <where>  
		  		  <if test="provinceId != null and provinceId != ''"> and provinceid = #{provinceId} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		</where>
	</select>

</mapper>