<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:include="include :: header">
<meta charset="utf-8" />
</head>
<body>
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content" style="display: block;">
						<div class="row">
							<div class="col-sm-12 m-b-xs container">
								<form class="form-inline">
									<div class="form-group">
										<label for="venderId" class="arealabel">大客户ID:</label>
										<input id="venderId" name="venderId" class="form-control" type="text"  />
										<label for="batchNo" class="arealabel">批次号:</label>
										<input id="batchNo" name="batchNo" class="form-control" type="text"  />
										<label for="cardName" class="arealabel">卡名称:</label>
										<input id="cardName" name="cardName" class="form-control" type="text"  />
										<label for="faceValue" class="arealabel">面额:</label>
										<input id="faceValue" name="faceValue" class="form-control" type="text"  />
										<label for="cardType" class="arealabel">卡类型:</label>
										<select id="cardType" name="cardType" placeholder="请选择" class="selectpicker" data-width="fit">
											<option value="" selected="selected">全部</option>
											<option value="1">实物卡</option>
											<option value="2">虚拟卡</option>
										</select>
										<label for="createType" class="arealabel">创建类型:</label>
										<select id="createType" name="createType" placeholder="请选择" class="selectpicker" data-width="fit">
											<option value="" selected="selected">全部</option>
											<option value="1">手动创建</option>
											<option value="2">自动创建</option>
										</select><br>
										<label for="bindVender" class="arealabel">是否绑定大客户:</label>
										<select id="bindVender" name="bindVender" placeholder="请选择" class="selectpicker" data-width="fit">
											<option value="" selected="selected">全部</option>
											<option value="0">否</option>
											<option value="1">是</option>
										</select>
										<label for="sTime" class="arealabel">有效时间:</label>
										<input id="sTime" class="form-control form_datetime" data-date-format="yyyy-mm-dd HH:ii:ss" type="text">－
										<input id="eTime" class="form-control form_datetime" data-date-format="yyyy-mm-dd HH:ii:ss" type="text">
										<label for="startTime" class="arealabel">创建时间:</label>
										<input id="startTime" class="form-control form_datetime" data-date-format="yyyy-mm-dd HH:ii:ss" type="text">－
										<input id="endTime" class="form-control form_datetime" data-date-format="yyyy-mm-dd HH:ii:ss" type="text">
										<button type="button" class="btn btn-primary" onclick="searcher()">
											<i class="fa fa-search"></i><strong>搜索</strong>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
					<div class="ibox-content">
						<div id="toolbar" role="group">
							<button shiro:hasPermission="admin:card:add" class="btn btn-primary" type="button" onclick="addCard()">
								<i class="fa fa-plus"></i><strong>创建购物卡</strong>
							</button>
						</div>
						<table id="cardbatchtb" class="col-xs-12" data-toolbar="#toolbar" data-show-refresh="true">
						</table>
					</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="picturePreview" tabindex="-1" role="dialog" aria-labelledby="picturePreview" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script th:src="@{/js/appjs/cardmanager/cardbatch.js}"></script>
	<script th:inline="javascript">
		$(".selectpicker").selectpicker({
			noneResultsText : '未匹配',
			noneSelectedText : '请选择'
		});
		$("#message").addClass("active");
		$("#faultlog").addClass("active");
	</script>
	<div>
		<script type="text/javascript">
            var s_operate_h = 'hidden';
		</script>
	</div>
	<div shiro:hasPermission="admin:cardbatch:operate">
		<script type="text/javascript">
            var s_operate_h = '';
		</script>
	</div>
</body>
</html>
